body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navbar {
    overflow: hidden;
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 20px;
    z-index: 3;
}


.navbar a {
    float: right;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
    margin-right: 20px;
}


.navbar a:hover {
    color: rgb(255, 251, 18);
}

.content {
    padding-top: 60px;
    position: relative;
    overflow-y: hidden;
}

.section {
    padding: 20px;
    color: black;
}

.section1 {
    position: relative;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.section1 video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.section2 {
    background-color: rgb(255, 255, 255);
    height: 500px;
}

.section3 {
    background-color: rgb(255, 255, 255);
    height: 500px;
}

.section4 {
    background-color: rgb(255, 255, 255);
    height: 500px;
}

.active {
    font-weight: bold;
}

.logo {
    margin-top: 50px;
    text-align: center;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    cursor: pointer;
}

.inline-image {
    display: inline-block;
    aspect-ratio: 1/1;
    height: 1em;
}